
@model ShopingCartViewModel
@{
	ViewData["Title"] = "Detail";
}

<div class="container py-5">
	<form method="post" ">
		<div class="row g-4">
			<div class="col-md-7">
				<div class="p-4 shadow-sm rounded bg-white">
					<h4 class="mb-4 fw-semibold">Shiping Details</h4>

					<div class="mb-3">
						<label class="form-label fw-semibold">Name</label>
						<input asp-for="orderHeader.Name" class="form-control" />
						<span asp-validation-for="orderHeader.Name" class="text-danger"></span>
					</div>

					<div class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label fw-semibold">City</label>
							<input asp-for="orderHeader.City" class="form-control" />
							<span asp-validation-for="orderHeader.City" class="text-danger"></span>
						</div>
						<div class="col-md-6 mb-3">
							<label class="form-label fw-semibold">Street Address</label>
							<input asp-for="orderHeader.StreetAddress" class="form-control" />
							<span asp-validation-for="orderHeader.StreetAddress" class="text-danger"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label class="form-label fw-semibold">Postal Code</label>
							<input asp-for="orderHeader.PostalCode" class="form-control" />
							<span asp-validation-for="orderHeader.PostalCode" class="text-danger"></span>
						</div>

						<div class="col-md-6 mb-3">
							<label class="form-label fw-semibold">State</label>
							<input asp-for="orderHeader.State" class="form-control" />
							<span asp-validation-for="orderHeader.State" class="text-danger"></span>
						</div>
					</div>

					<div class="mb-3">
						<label class="form-label fw-semibold">Phone Number</label>
						<input asp-for="orderHeader.PhoneNumber" class="form-control" />
						<span asp-validation-for="orderHeader.PhoneNumber" class="text-danger"></span>
					</div>

					<small class="text-muted d-block">
						Estimate Arrival Date: @DateTime.Now.AddDays(4).ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()
					</small>


				</div>
			</div>

			<div class="col-md-5">
				<div class="p-4 shadow-sm rounded bg-white">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h5 class="fw-semibold">Cart Summary</h5>
						<a href="#" class="text-decoration-none">Edit</a>
					</div>
					@foreach (var shopingcart in Model.shopingCartList)
					{
						<div class="d-flex align-items-center mb-3">

							@if (shopingcart.Product.ProductImages != null && shopingcart.Product.ProductImages.Count()>0)
							{
								<div class="position-relative d-inline-block">
									<img src="@shopingcart.Product.ProductImages.FirstOrDefault().ImageUrl" style="width:65px; height:70px; object-fit:cover; border-radius:6px;" />
									<span class="text-muted" style=" position:absolute;top: -5px; right: -5px;   background:#0F6D4E; color:#fff!important; width:22px; height:22px; border-radius:50%;display:flex;align-items:center; justify-content:center;font-size:12px; font-weight:bold;">@shopingcart.Count </span>
								</div>
							}
							else
							{
								<div class="position-relative d-inline-block">
									<img src="https://placehold.co/500x600/png" style="width:65px; height:70px; object-fit:cover; border-radius:6px;" />
									<span class="text-muted" style=" position:absolute;top: -5px; right: -5px;   background:#0F6D4E; color:#fff!important; width:22px; height:22px; border-radius:50%;display:flex;align-items:center; justify-content:center;font-size:12px; font-weight:bold;">@shopingcart.Count </span>
								</div>
							}
							<p class="ms-4 fw-semibold">@shopingcart.Product.Title</p>
							<h6 class="ms-auto fw-bold">@shopingcart.Price.ToString("c")</h6>
						</div>
						<hr>
					}

					<div class="d-flex justify-content-between">
						<span class="fw-semibold">Total</span>
						<span class="fw-bold text-primary">@Model.orderHeader.OrderTotal.ToString("c")</span>
					</div>


					<div class="d-flex justify-content-between mt-4">
						<a asp-action="Index" class="btn btn-outline-secondary">Back to Cart</a>
						<button type="submit" class="btn btn-primary">Place Order</button>
					</div>
				</div>
			</div>

		</div>
	</form>
</div>
<style>
	body {
		background: #ededed;
	}
</style>

@* <form method="post">

	<br />
	<div class="container">
		<div class="card shadow border-0">

			<div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
				<div class="row px-4">
					<div class="col-6">
						<h5 class="pt-2 text-white">
							Shopping Cart
						</h5>
					</div>
					<div class="col-6 text-end">
						<a asp-action="Index" class="btn btn-outline-danger btn-sm">Back to Cart</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Shipping Details:</span>
								</h4>
							</div>
							
							<div class="row my-1">
								<div class="col-3">
									<label>Name</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.Name" class="form-control" />
									<span asp-validation-for="orderHeader.Name" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Phone</label>
								</div>
								<div class="col-9">
									
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Street Address</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.StreetAddress" class="form-control" />
									<span asp-validation-for="orderHeader.StreetAddress" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>City</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.City" class="form-control" />
									<span asp-validation-for="orderHeader.City" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>State</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.State" class="form-control" />
									<span asp-validation-for="orderHeader.State" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Postal Code</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.PostalCode" class="form-control" />
									<span asp-validation-for="orderHeader.PostalCode" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Order Summary:</span>
							</h4>
							<ul class="list-group mb-3">
								@foreach(var shopingcart in Model.shopingCartList)
								{
									<li class="list-group-item d-flex justify-content-between">
										<div>
											<h6 class="my-0">@shopingcart.Product.Title</h6>
											<small class="text-muted">Quantity: @shopingcart.Count</small>
										</div>
										<span class="text-muted">@((@shopingcart.Count * @shopingcart.Price).ToString("c")) </span>
									</li>
								}


								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Total (USD)</small>
									<strong class="text-info">@Model.orderHeader.OrderTotal.ToString("c")</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 col-md-8 pt-2">
						<p style="color:maroon; font-size:14px;">
							Estimate Arrival Date: @DateTime.Now.AddDays(4).ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()

						</p>
					</div>
					<div class="col-12 col-md-4">
						<button type="submit" value="Place Order" class="btn btn-primary form-control">Place Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
 *@
@*
<form method="post">
	
	<div class="container row">
		@* <div class="card shadow border-0">
			<div class="col-5 text-end">
				<a asp-action="Index" class="btn btn-outline-danger btn-sm">Back to Cart</a>
			</div>
			<div >
				<div class=" rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Shipping Details:</span>
								</h4>
							</div>

							<div class="row my-1">
								
									<label>Name</label>
									<input asp-for="orderHeader.Name" class="form-control mx-4" />
									<span asp-validation-for="orderHeader.Name" class="text-danger"></span>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Phone</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.PhoneNumber" class="form-control" />
									<span asp-validation-for="orderHeader.PhoneNumber" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Street Address</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.StreetAddress" class="form-control" />
									<span asp-validation-for="orderHeader.StreetAddress" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>City</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.City" class="form-control" />
									<span asp-validation-for="orderHeader.City" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>State</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.State" class="form-control" />
									<span asp-validation-for="orderHeader.State" class="text-danger"></span>
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Postal Code</label>
								</div>
								<div class="col-9">
									<input asp-for="orderHeader.PostalCode" class="form-control" />
									<span asp-validation-for="orderHeader.PostalCode" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Order Summary:</span>
							</h4>
							<ul class="list-group mb-3">
								@foreach (var shopingcart in Model.shopingCartList)
								{
									<li class="list-group-item d-flex justify-content-between">
										<div>
											<h6 class="my-0">@shopingcart.Product.Title</h6>
											<small class="text-muted">Quantity: @shopingcart.Count</small>
										</div>
										<span class="text-muted">@((@shopingcart.Count * @shopingcart.Price).ToString("c")) </span>
									</li>
								}


								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Total (USD)</small>
									<strong class="text-info">@Model.orderHeader.OrderTotal.ToString("c")</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 col-md-8 pt-2">
						<p style="color:maroon; font-size:14px;">
							Estimate Arrival Date: @DateTime.Now.AddDays(4).ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()

						</p>
					</div>
					<div class="col-12 col-md-4">
						<button type="submit" value="Place Order" class="btn btn-primary form-control">Place Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

 *@